body{
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) no-repeat center;
	background-size: cover;
}
.header{
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	padding-top: 24px;
	z-index: 99;
}
.logo{
	margin-left: 50px;
	width: 126px;
	height:40px;
	display: block;
	float: left;
}
.home_nav{
	float: right;
	margin-right: 50px;
}
.home_nav li{
	float: left;
	margin: 0 15px;
	line-height: 40px;
}
.home_nav li a{
	color: #FFF;
	font-size: 14px;
}
.home_nav li a:hover{
	color: #09e0e9;
}


.page1{
	margin-left: 186px;
}
.page1 b{
	width: 660px;
	font-size: 0;
	height: 3px;
	background: #05ecec;
	display: block;
	margin-top: 28px;
}
.page1 h1{
	color: #FFF;
	font-weight:normal;
	font-size: 36px;
}
.page1 ul{
	width: 660px;
	color: #FFF;
}
.page1 ul li{
	margin-top: 20px;
}
.page1 ul dt{
	font-size: 18px;
	line-height: 40px;
}
.page1 ul dd{
	font-size: 14px;
}
.page1 .ico_r1{
	width: 228px;
	height: 228px;
	background: url(../images/r1.png) no-repeat center;
	right: 160px;
	top: 230px;
}
.page1 .ico_r2{
	width:107px;
	height: 107px;
	background: url(../images/r2.png) no-repeat center;
	top: 450px;
	right: 720px;
}
.page1 .ico_r3{
	width:61px ;
	height: 60px;
	background: url(../images/r3.png) no-repeat center;
	top: 680px;
	right: 390px;
}
.page1 .ico_r4{
	width: 160px;
	height: 160px;
	background: url(../images/r4.png) no-repeat center;
	top: 750px;
	right: 200px;
}
.page1 .ico_rtxt{
	width: 332px;
	height: 50px;
	background: url(../images/txt.png) no-repeat center;
	right: 352px;
	top: 50%;
	margin-top: -25px;
}
.page1 .ico_r1,.page1 .ico_r2,.page1 .ico_r3,.page1 .ico_r4,.page1 .ico_rtxt{
	position: absolute;
}

/*page2*/
.page2{

}
.page2 b{
	width: 152px;
	font-size: 0;
	height: 3px;
	background: #05ecec;
	display: block;
	margin-top: 50px;
	margin-left: 186px;
}
.page2 h1{
	color: #FFF;
	font-weight:normal;
	font-size: 36px;
	margin-left: 186px;
}
.page2 .nr_box{
	width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
	z-index: 999;
}
.page2 .cover_js{
	width: 470px;
	height: 420px;
	background: #FFF;
	float: left;
}
.page2 .cover_js strong{
	display: block;
	font-size: 18px;
	color: #000;
	margin: 20px 0 0 20px;
}
.page2 .cover_js p{
	font-size:14px;
	padding:20px ;
	padding-top: 10px;
	color: #747474;
}
.page2 ul{
	float: right;
}
.page2 ul li{
	width: 654px;
	padding: 30px;
	height: 140px;
	background: #fff;
	margin-bottom: 20px;
	font-size: 14px;
	position: relative;
}
.page2 ul li h4{
	font-size: 18px;
	color: #000;
}
.page2 ul li strong{
	color:#ff7414;
	line-height: 46px;
}
.page2 ul li p{
	color: #747474;
	line-height: 20px;
}
.page2 .rttime{
	width: 90px;
	height: 48px;
	padding-top: 12px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: #0fcae4;
	border-radius: 4px;
	text-align: center;
}
.page2 .rttime strong{
	color: #FFF;
	line-height: 1;
	font-size: 18px;
}
.page2 .rttime p{
	color: #FFF;
}
.page2 .ico_r1{
	width: 228px;
	height: 228px;
	background: url(../images/r1.png) no-repeat center;
	right: 98px;
	top: 250px;
}
.page2 .ico_r2{
	width:107px;
	height: 107px;
	background: url(../images/r2.png) no-repeat center;
	top: 210px;
	left: -54px;
}
.page2 .ico_r3{
	width:61px ;
	height: 60px;
	background: url(../images/r3.png) no-repeat center;
	top: 840px;
	right: 260px;
}
.page2 .ico_r4{
	width: 160px;
	height: 160px;
	background: url(../images/r4.png) no-repeat center;
	left: 240px;
	bottom: 66px;
}
.page2 .box1{
	width:138px;
	height: 138px;
	border: 4px solid #00ff00;
	top:28%;
	left: 30%;
}
.page2 .box2{
	width:118px;
	height: 118px;
	border: 4px solid #00ff00;
	right:20%;
	bottom: 22%;
}
.page2 .ico_r1,.page2 .ico_r2,.page2 .ico_r3,.page2 .ico_r4,.page2 .box1,.page2 .box2{
	position:absolute;
	z-index: -1;
}

/*PAGE3*/
.page3{

}
.page3 b{
	width: 152px;
	font-size: 0;
	height: 3px;
	background: #05ecec;
	display: block;
	margin-top: 28px;
	margin-left: 186px;
}
.page3 h1{
	color: #FFF;
	font-weight:normal;
	font-size: 36px;
	margin-left: 186px;
}
.page3 .ico_r1{
	width: 228px;
	height: 228px;
	background: url(../images/r1.png) no-repeat center;
	right: 98px;
	top: 250px;
}
.page3 .ico_r2{
	width:107px;
	height: 107px;
	background: url(../images/r2.png) no-repeat center;
	top: 210px;
	left: -54px;
}
.page3 .ico_r3{
	width:61px ;
	height: 60px;
	background: url(../images/r3.png) no-repeat center;
	top: 840px;
	right: 260px;
}
.page3 .ico_r4{
	width: 160px;
	height: 160px;
	background: url(../images/r4.png) no-repeat center;
	left: 240px;
	bottom: 66px;
}
.page3 .ico_r1,.page3 .ico_r2,.page3 .ico_r3,.page3 .ico_r4{
	position:absolute;
	z-index: -1;
}
.page3 .list_news{
	width:1230px;
	margin: 130px auto;
	overflow: hidden;
}
/*.page3 .list_news{
	width: 1230px;
}*/
.page3 .list_news li{
	width: 380px;
	height: 380px;
	background: #FFF;
	position: relative;
	float: left;
	margin-right: 30px;
}
.page3 .list_news .news_cover{
	width: 380px;
	height: 166px;
	overflow: hidden;
}
.page3 .list_news .news_info{
	padding: 20px;
}
.page3 .list_news .news_info .v_btn{
	font-size: 14px;
	color: #333;
	position: absolute;
	left: 20px;
	bottom: 22px;
}
.page3 .list_news .news_info .v_btn i{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/ico1.png) no-repeat top right;
	vertical-align: middle;
	margin-right: 10px;
}
.page3 .list_news .news_title{
	border-bottom: 1px solid #ddd;
}
.page3 .list_news .news_title p{
	font-size: 16px;
	color: #000;
}
.page3 .list_news .news_title small{
	font-size: 14px;
	color: #999;
	line-height: 40px;
}
.page3 .list_news .news_txt{
	font-size: 14px;
	color: #666;
	padding-top: 20px;
}

.page3 .btns{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.page3 .more_btn{
	width: 120px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	border-radius: 20px;
	border: 2px solid #FFF;
	display: block;
	color: #FFFFFF;
	font-size: 14px;
	float: right;
	margin-right: 186px;
}
.page3 .updown{
	float: left;
	margin-left: 186px;
}
.page3 .updown a{
	width: 40px;
	height: 40px;
	display: inline-block;
}
.page3 .updown .up{
	background: url(../images/ico1.png) no-repeat left bottom;
	margin-right: 24px;
}
.page3 .updown .down{
	background: url(../images/ico1.png) no-repeat left top;
}

/*PAGE4*/
.page4{
}
.page4 b{
	width: 152px;
	font-size: 0;
	height: 3px;
	background: #05ecec;
	display: block;
	margin-top: 28px;
	margin-left: 186px;
}
.page4 h1{
	color: #FFF;
	font-weight:normal;
	font-size: 36px;
	margin-left: 186px;
}
.page4 ul{
	padding-top: 50px;
	padding-bottom: 230px;
	width: 1092px;
	margin: 0 auto;
}
.page4 ul li{
	width:193px;
	height: 400px;
	float: left;
	margin: 0 40px;
	text-align: center;
}
.page4 ul li p{
	width: 166px;
	margin: 0 auto;
	padding-top: 230px;
	font-size: 14px;
	color: #666;
}
.page4 ul li:nth-of-type(1){
	background: url(../images/gh1.png) no-repeat center;
	position: relative;
	animation: shangxia1 4s infinite;
	-moz-animation: shangxia1 4s infinite;
	-o-animation: shangxia1 4s infinite;
	-webkit-animation: shangxia1 4s infinite;
}

.page4 ul li:nth-of-type(2){
	background: url(../images/gh2.png) no-repeat center;
	transform: translateY(220px);
	animation: shangxia2 4s infinite;
	-moz-animation: shangxia2 4s infinite;
	-webkit-animation: shangxia2 4s infinite;
	-o-animation: shangxia2 4s infinite;
}
.page4 ul li:nth-of-type(3){
	background: url(../images/gh3.png) no-repeat center;
	transform: translateY(100px);
	animation: shangxia3 4.2s infinite;
	-moz-animation: shangxia3 4.2s infinite;
	-webkit-animation: shangxia3 4.2s infinite;
	-o-animation: shangxia3 4.2s infinite;
}
.page4 ul li:nth-of-type(4){
	background: url(../images/gh4.png) no-repeat center;
	transform: translateY(20px);
	animation: shangxia4 3s infinite;
	-moz-animation: shangxia4 3s infinite;
	-webkit-animation: shangxia4 3s infinite;
	-o-animation: shangxia4 3s infinite;
}

@keyframes shangxia1{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(30px);
	}
	100%{
		transform: translateY(0px);
	}
}
@keyframes shangxia2{
	0%{
		transform: translateY(220px);
	}
	50%{
		transform: translateY(200px);
	}
	100%{
		transform: translateY(220px);
	}
}
@keyframes shangxia3{
	0%{
		transform: translateY(100px);
	}
	50%{
		transform: translateY(120px);
	}
	100%{
		transform: translateY(100px);
	}
}
@keyframes shangxia4{
	0%{
		transform: translateY(20px);
	}
	50%{
		transform: translateY(40px);
	}
	100%{
		transform: translateY(20px);
	}
}

@-moz-keyframes shangxia1{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(30px);
	}
	100%{
		transform: translateY(0px);
	}
}
@-moz-keyframes shangxia2{
	0%{
		transform: translateY(220px);
	}
	50%{
		transform: translateY(200px);
	}
	100%{
		transform: translateY(220px);
	}
}
@-moz-keyframes shangxia3{
	0%{
		transform: translateY(100px);
	}
	50%{
		transform: translateY(120px);
	}
	100%{
		transform: translateY(100px);
	}
}
@-moz-keyframes shangxia4{
	0%{
		transform: translateY(20px);
	}
	50%{
		transform: translateY(40px);
	}
	100%{
		transform: translateY(20px);
	}
}
@-webkit-keyframes shangxia1{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(30px);
	}
	100%{
		transform: translateY(0px);
	}
}
@-webkit-keyframes shangxia2{
	0%{
		transform: translateY(220px);
	}
	50%{
		transform: translateY(200px);
	}
	100%{
		transform: translateY(220px);
	}
}
@-webkit-keyframes shangxia3{
	0%{
		transform: translateY(100px);
	}
	50%{
		transform: translateY(120px);
	}
	100%{
		transform: translateY(100px);
	}
}
@-webkit-keyframes shangxia4{
	0%{
		transform: translateY(20px);
	}
	50%{
		transform: translateY(40px);
	}
	100%{
		transform: translateY(20px);
	}
}
@-o-keyframes shangxia1{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(30px);
	}
	100%{
		transform: translateY(0px);
	}
}
@-o-keyframes shangxia2{
	0%{
		transform: translateY(220px);
	}
	50%{
		transform: translateY(200px);
	}
	100%{
		transform: translateY(220px);
	}
}
@-o-keyframes shangxia3{
	0%{
		transform: translateY(100px);
	}
	50%{
		transform: translateY(120px);
	}
	100%{
		transform: translateY(100px);
	}
}
@-o-keyframes shangxia4{
	0%{
		transform: translateY(20px);
	}
	50%{
		transform: translateY(40px);
	}
	100%{
		transform: translateY(20px);
	}
}

/*PAGE5*/

.page5 b{
	width: 152px;
	font-size: 0;
	height: 3px;
	background: #05ecec;
	display: block;
	margin-top: 28px;
	margin-left: 186px;
}
.page5 h1{
	color: #FFF;
	font-weight:normal;
	font-size: 36px;
	margin-left: 186px;
}

.page5 .btns{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.page5 .more_btn{
	width: 120px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	border-radius: 20px;
	border: 2px solid #FFF;
	display: block;
	color: #FFFFFF;
	font-size: 14px;
	float: right;
	margin-right: 186px;
}
.page5 .updown{
	float: left;
	margin-left: 186px;
}
.page5 .updown a{
	width: 40px;
	height: 40px;
	display: inline-block;
}
.page5 .updown .up{
	background: url(../images/ico1.png) no-repeat left bottom;
	margin-right: 24px;
}
.page5 .updown .down{
	background: url(../images/ico1.png) no-repeat left top;
}
.page5 .list_car{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 50px;
}
.page5 .list_car ul{
	width: 1220px;
}
.page5 .list_car li{
	float: left;
	width: 285px;
	height: 314px;
	background: #FFF;
	margin-right: 20px;
	margin-bottom: 20px;
}
.page5 .car_name{
	font-size: 16px;
	color: #000;
	height: 56px;
	overflow: hidden;
	padding: 30px 20px 0 20px;
}
.page5 .car_info{
	padding: 0 20px;
}
.page5 .car_info .price{
	float: left;
    font-size: 14px;
    color: #ff7414;
    line-height: 30px;
}
.page5 .car_info .price strong{
	font-size: 22px;
    vertical-align: baseline;
}
.page5 .car_info .for-month{
	float: right;
    font-size: 14px;
    color: #8d91ac;
    line-height: 37px;
}
