@charset "utf-8";
/* CSS Document */

/*重置*/
*{ margin:0; padding:0;}
body{ font:12px "Microsoft YaHei Light","Microsoft YaHei","Pingfang sc regular",Helvetica,Tahoma,sans-serif; color:#929292; widows:100%; height:100%; background:#fff;}
*{ margin:0; padding:0; }
li{ list-style:none;}
a{ text-decoration:none;}
b,strong,h2,h3,h4{ font-weight:normal;}
i,u,small,strong,h2,h3,h4{ font-style:normal}
img{ vertical-align:top; display:block; border:none;}
div{ display:block;}
.clear{ zoom:1;}
.clear:after{content:"";clear:both;display:block;}
.fl{ float:left;}
.fr{ float:right;}
input{ border:none; background:none; outline:none;}